.SearchForPlayerPopup{
    position: relative;
    width: 50%;
    height: 65%;
    background: #3F5C76;

}

.DisplayAllPlayers {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 95%;
    height: 70%;
    top: 3.5%;
    overflow-y: auto;
}

.ExitPopup {
    position: absolute;
    width: 7%;
    height: 10%;
    top: 0;
    right: 0;

}

.ExitPopup img{
    width: 100%;
    height: 100%;
}