.ChessClubPopup {
    text-align: center;
    background: #3F5C76;
    position: absolute;
    top: 25%;
    left: 31%;
    width: 50%;
    height: 30%;
    z-index: 500;
}

.ChessClubPopupInner{


}

#ChessClubNameInput{
    margin-top: 2.5%;
    width: 50%;
}

.ChessclubButtonsPopUp {
    gap: 5%;
    position: relative;
    bottom: 5%;
    right: 2.5%;
    width: 45%;
    height: 20%;
}

.PopupButtonsClub {
    position: absolute;
    right: 1%;
    bottom: 4%;
    display: flex;
    justify-content: space-between;
    width: 35%;
}