.sidebar {

}


.SidebarBackground{
    position: fixed;
    width: 12.5%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2B4257;
    z-index: 5;
}


.CheckMatesLogo {
    position: relative;
    top: -25px;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.SidebarButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.SidebarButton {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-top: 10px;
}


.SidebarButton:first-child {
    margin-top: 0;
}

.icon {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
    margin-left: 15px;
}


#PlayIcon {
    max-width: 150%;
}

#PuzzleIcon {
    max-width: 200%;
}

#SocialIcon {
    max-width: 135%;
    margin-left: 10%;
}

#MyProfileIcon{
    max-width: 160%;
}



#CreateLobby{
    max-width: 110%;
}

#SearchForPlayer{
    max-width: 90%;
}
#LeaderbordeIcon {
    max-width: 130%;
}

.SubSidebar {
    position: fixed;
    top: 0;
    left: 12.5%;
    bottom: 0;
    width: 0;
    background-color: rgba(73, 101, 127, 0.5);
    z-index: 3;
}

.SubSidebar.open {
    width: 12.5%;
}


.SubSidebarButtonContainer {
    height: 40%;
}

.OverlayBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    background-color: #88A9C3;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    justify-content: center;
    align-items: center;
    display: flow;
    overflow: auto;
}
.WelcomeMessage{
    margin-top: 20%;
    color: white;
    font-family: Inter,sans-serif;
    font-size: 0.75vw;
    text-shadow: 2px 2px 4px grey;

}


@media only screen and (max-width: 768px) {
    .SidebarBackground{
        width: 25%;
    }

    .SubSidebar {
        left: 25%;

    }

    .SubSidebar.open{
        width: 25%;
    }
}

